%div
  .portlet-content
    #tabs.tab_container
      .tab_content_container
        #active.tab_content
          %h4 Personal
          %table{:class => "report"}
            %thead
              %tr
                %th Nombre
                %th Apellidos
            %tbody
              - @persons.each do |p|
                %tr{:class => cycle("odd","even")}
                  %td
                    = link_to p.name, person_url(p)
                  %td
                    = "#{p.paternal_surname} #{p.maternal_surname}"

    .clear